@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: dimgrey;
}

text {
  font-weight: 300;
  font-family: Lato;
  font-size: 20px;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}

.visualization-container {
  width: 100%;
  display: block;
  margin: auto;
  background-color: lightgrey;
}

svg {
  /*background-image: url('../images/grid.png');*/
    background-color: lightgrey;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1px;
}

html,
body {
  height: 100%;
  background-color: #fff;
  font-family: Lato;
}

body {
  color: #66ccff;
  text-align: center;
}
.topnav {
  background-color: #333;
  overflow: visible;
}
h1  {
    margin-top: 14px;
    line-height: 1.1;
}
.searchbar {
  float: left;
  display: inline-block;
  padding: 0px 16px;
  margin-top: 6px;
  width: 30%;
  position: relative;
}
.nav.navbar-form  {
  margin-top: 3%
}
#workflow-searchbar  {
  width: 100%
}
#workflow-name {
  display: inline-block;
  margin-bottom: -2%;
  float: left;
  margin-left: 28%;
  text-align: center;
  /*text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);*/
  padding: 14px 0px;
  width: auto;
  font-size: 14px;
  color:black;
}
#RDFImage-bar1, #RDFImage-bar2  {
    float: left;
    width: 20px;
    margin-top: 0.8em;
    margin-left: 0.2em;
    cursor: pointer;
}
#execution-name {
  display: none;
  margin-bottom: -2%;
    float: left;
  margin-left: 18%;
  text-align: center;
  /*text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);*/
  padding: 14px 0px;
  width: auto;
  font-size: 14px;
  color:black;
}
.title {
    display: inline-block;
    /* margin-top: -1%; */
    margin-left: -14%;
    font-size: 40px;
    text-align: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.5);
    /* padding: 14px 0px; */
    width: auto;
    color: #66ccff;
}
.workflow-nav {
  margin-top: 1.5%;
  float: right;
  display: inline-block;
  /*padding: 14px 16px;*/
  width: 15%
}
.nav-link {
  float: right;
  margin-right: 12%;
  /*padding: 1em;
  border: 1px solid #66ccff;*/
  color: white;
  font-size: 17px;
}
.nav-tabs>li {
  margin-bottom: 0px;
}
#metadata-label { 
  font-size: 14px;
  text-align: left;
  padding-left: 5%;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

.glyphicon.glyphicon-remove-circle.pull-right, .glyphicon.glyphicon-remove-sign.pull-right
{
    cursor: pointer;
}
.container-fluid { 
  list-style-type: none;
  width: auto;
  padding-left: 5%;
  align-items: baseline;
}

th {
  padding: 5px 15px;
  text-align: center;    
	border-bottom: 3px solid rgba(176,196,222, 0.5);
  border-top: 3px solid rgba(176,196,222, 0.5);
  border-collapse: collapse;
	color: rgb(88,98,111);
/*
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  border: 2px solid dimgray;
*/
  font-size: 14px;
}

.list-group-item {
  font-size: 12px;
  padding: 3px 10px
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
/*  border-style: inset;*/
  border-width: 2px;
}

td {
/*  border: 2px solid dimgray;*/
/*
		border-bottom:  2px solid rgba(176,196,222, 0.5);
  border-top:  2px solid LightSteelBlue;
*/
  border-collapse: collapse;
  padding: 5px 15px;
  color: rgb(140,156,177);
  font-size: 13px;
	text-align: center;
}

td:hover {background-color: #f5f5f5}

table {
/*  border: 2px solid LightSteelBlue;*/
	border-bottom:  1px solid rgba(176,196,222, 0.5);
  border-top:  1px solid rgba(176,196,222, 0.5);
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  padding-left: 5%;
}

.table-responsive {
    border: 1px solid #66ccff;
}
.navbar-nav>li, .navbar-nav {
  float: left !important;
  background-color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
.visualization-container>svg
{
    min-height: 500px;
    max-height: 610px;
}
.panel-group-legend {
  display: block;
  /*float: right;*/
}

.col-md-3 {
    width: 30%;
}

.navbar {
 background-color: #fff;   
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    position: absolute;
    background: #f2f6f7;
    text-align: center;
    top: 90% !important;
    left: 8% !important;
    width: 85%;
}

.ui-autocomplete li {
    padding: 10px;
    margin-bottom: 1px;
    margin-left: -15%;
    /*float: left;*/
    cursor: pointer;
}

#selection  {
    font-size: 18px;
    cursor: pointer;
}
/* Metadata Icons and Values */
.metadata-icon {
    font-size: 30px;
    padding: 5px 5px 0px 5px;
    border: none;
    background: none;
}

.metadata-icon:hover {
    color:blue;
}

.metadata-value, .placeholder {
    font-size: 20px;
    display: none;
}

/*#status-icon:hover ~ #status-value {
    display: block;
}

#label-icon:hover ~ #label-value {
    display: block;
}

#start-time-icon:hover ~ #start-time-value {
    display: block;
}

#end-time-icon:hover ~ #end-time-value {
    display: block;
}

#contributer-icon:hover ~ #contributer-value {
    display: block;
}

#modified-icon:hover ~ #modified-value {
    display: block;
}

#system-icon:hover ~ #system-value {
    display: block;
}

#version-icon:hover ~ #version-value {
    display: block;
}
*/
.highlight-variables {
/*    padding: 6px 12px;*/
    font-size: 14px;
    font-weight: 400;
/*    line-height: 1;*/
    color: #555;
    text-align: center;
    /* background-color: #eee; */
    /* border: 1px solid #ccc; */
/*    border-radius: 4px;*/
}

.variable-header {
	color: rgb(140,156,177);
}


.panel {
  margin-top: 0;
	margin-bottom: 6px;
}


.bottom-spacing-2 {
  margin-bottom: 16px;
	margin-left: 8px;
}

.bottom-spacing-1 {
  margin-bottom: 8px;
	margin-left: 16px;
}

#RDFImage-link1, #RDFImage-link2, #DownloadTemplate-link, #RDFImage-variable-link, #DownloadImage-variable-link {
    float: left;
    position: relative;
}

.RDFImage-variable  {
    float: left;
    width: 20px;
    margin-top: 0.65em;
    margin-left: 0.2em;
    cursor: pointer;
}

#fileDownload  {
    position: relative;
    float: left;
    margin-top: 0.2em;
    margin-left: 0.3em;
    /* cursor: pointer; */
    font-size: 25px;
    color: #66ccff;
}

#TemplateDownload {
    position: relative;
    float: left;
    margin-top: 0.22em;
    margin-left: 0.3em;
    /* cursor: pointer; */
    font-size: 25px;
    color: #66ccff;
}

#RDFLink1, #RDFLink2, #RDFVariableLink, #DownloadLink, #DownloadTemplateLink {
    display: none;
    width: 120px;
    background-color: #8FBC8F;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

#RDFLink1::after, #RDFLink2::after, #RDFVariableLink::after, #DownloadLink::after, #DownloadTemplateLink::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #8FBC8F transparent;
}

#RDFImage-link1:hover #RDFLink1  {
    display: block;
}

#DownloadTemplate-link:hover #DownloadTemplateLink  {
    display: block;
}

#RDFImage-link2:hover #RDFLink2  {
    display: block;
}

.panel.panel-info.templ.variable #RDFImage-variable-link:hover #RDFVariableLink  {
    display: block;
}

.panel.panel-warning.template #RDFImage-variable-link:hover #RDFVariableLink  {
    display: block;
}

.panel-group-info #DownloadImage-variable-link:hover #DownloadLink  {
  display: block;
}